*.Rproj.user
*.Rhistory
.Rproj.user/
.Rproj.user
inst/doc
**/.DS_Store
apps/LOLAweb/cache/*
*.bed
apps/LOLAweb/lola_vignette_data/*.bed
apps/LOLAweb/universes
apps/LOLAweb/reference
apps/LOLAweb/cache
apps/LOLAweb/shinylog
apps/LOLAweb/results
apps/LOLAweb/userSets
